*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shelf/
*~
*.swp
*.apk
*.aab
*.ap_
*.class
*.dex
*.log
proguard/
- proguard-rules.pro
*.exec
*.ec
